body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
}

.container{
    max-width:450px;
    margin:auto;
    padding:25px;
}

h1{
    text-align:center;
    margin-top:20px;
}

.subtitle{
    text-align:center;
    color:#94a3b8;
}

.languages{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:25px 0;
}

select{
    width:40%;
    padding:12px;
    border-radius:10px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    font-size:18px;
    margin-top:15px;
    cursor:pointer;
    background:#2563eb;
    color:white;
}

.card{
    background:#1e293b;
    padding:15px;
    margin-top:20px;
    border-radius:12px;
}